body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.title {
    margin: 0;
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}