/* Fonts */
@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/* Fonts */


/* Main */
::-webkit-scrollbar-button {
    width: 10px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

::-webkit-resizer {
    width: 10px;
    height: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    font-family: "JetBrains Mono", sans-serif;
}
/* Main */


/* Card */
.card {
    height: 450px;
    width: 450px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 125px;
    height: 125px;
    border: 5px solid white;
    border-radius: 20px;
    margin-top: -110px;
    position: relative;
}

.background img {
    max-width: 150%;
    height: 200px;
    position: relative;
    right: 40px;
    border-radius: 20px;
}
/* Card */


/* Text */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.social {
    color: black;
}

h3 {
    font-size: 20px;
    line-height: 20px;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 13px;
}

p {
    font-size: 16px;
    line-height: 21px;
}
/* Text */


/* Media */
@media screen and (max-width: 1024px){
    .background img {
        max-width: 115%;
        height: 180px;
    }
	
	.card {
		width: 350px;
	}
}
/* Media */

