body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #202020;
    font-family: monospace;
}

.card {
    background-color: white;
    height: 350px;
    width: 400px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    border: 3px solid white;
    border-radius: 20px;
    margin-top: -50px;
}

.social {
    color: black;
}

h3,
h4,
p {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
}
