html {
  background: #f7f9ff;
  font-size: 10px;
}

.errorPageRap {
  text-align: center;
  margin: 5rem 0 13rem 0;
}
.errorPageRap .holoContainer {
  position: relative;
  width: 25.8rem;
  height: 40rem;
  margin: 0 0 30rem 0;
  display: inline-block;
  vertical-align: middle;
}
.errorPageRap h1 {
  font-family: 'Roboto', Arial;
  text-align: left;
  font-size: 2.8rem;
  font-weight: 400;
  color: #506280;
  line-height: 5.4rem;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
  margin-left: 4rem;
  width: 50%;
  min-width: 43.6rem;
  max-width: 64rem;
}
.errorPageRap h1 span {
  display: inline-block;
  width: 3rem;
}
.errorPageRap h1 span img {
  width: 100%;
}
.errorPageRap h1 a {
  color: #404a5d;
  font-size: 3.3rem;
  text-decoration: none;
  font-weight: 900;
  transition: all .2s ease;
}
.errorPageRap h1 a:hover {
  opacity: .6;
}
.errorPageRap .holoContainer > img {
  position: absolute;
  top: 0;
  left: 1.4rem;
  z-index: 999;
  width: 86%;
}
.errorPageRap .holoContainer > img:nth-child(2),
.errorPageRap .holoContainer > img:nth-child(3) {
  left: 1.2rem;
  top: 0;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
  clip: rect(0, 0, 0, 0);
}
.errorPageRap .holoContainer > img:nth-child(2) {
  left: .7rem;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
  width: 21rem;
}
.errorPageRap .holoContainer > img:nth-child(3) {
}
.errorPageRap .holoPad {
  position: absolute;
  bottom: -15rem;
  left: 50%;
  margin-left: -12.8rem;
  z-index: 998;
}
.errorPageRap .holoPad #sparks {
  opacity: .2;
  animation: twinkle 1.6s ease infinite;
  opacity: .4;
}
.errorPageRap .holoPad #holo_glow {
  animation: twinkle 10s 1s ease infinite;
  opacity: .7;
}

@keyframes twinkle {
  0% {
    opacity: .7;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: .6;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}
@keyframes glitch-anim-1 {
  0% {
    clip: rect(12.7rem, 2.5rem, 40rem, 0);
  }
  6% {
    clip: rect(1.5rem, 25.8rem, 40rem, 0);
  }
  13% {
    clip: rect(18.9rem, 25.8rem, 40rem, 0);
  }
  20% {
    clip: rect(2.1rem, 25.8rem, 40rem, 0);
  }
  26% {
    clip: rect(11rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  33% {
    clip: rect(17.5rem, 2220rem, -40rem, 0);
  }
  40% {
    clip: rect(14rem, 25.8rem, 40rem, 0);
  }
  46% {
    clip: rect(2.5rem, 25.8rem, 40rem, 0);
  }
  53% {
    clip: rect(213.9rem, 25.8rem, 40rem, 0);
  }
  60% {
    clip: rect(12.7rem, 25.8rem, 4rem, 0);
    opacity: .3;
  }
  66% {
    clip: rect(25.6rem, 25.8rem, 40rem, 0);
  }
  73% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  80% {
    clip: rect(13.4rem, 25.8rem, 40rem, 0);
  }
  86% {
    clip: rect(1.7rem, 25.8rem, 40rem, 0);
  }
  93% {
    clip: rect(17.5rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  100% {
    clip: rect(16.5rem, 25.8rem, 40rem, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(12.7rem, 25.8rem, 40rem, 0);
  }
  6% {
    clip: rect(15.4rem, 25.8rem, 40rem, 0);
  }
  13% {
    clip: rect(1.8rem, 25.8rem, 40rem, 0);
  }
  20% {
    clip: rect(13.8rem, 25.8rem, 40rem, 0);
  }
  26% {
    clip: rect(1.1rem, 25.8rem, 28rem, 0);
  }
  33% {
    clip: rect(3rem, 25.8rem, 40rem, 0);
  }
  40% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  46% {
    clip: rect(15.2rem, 25.8rem, 40rem, 0);
  }
  53% {
    clip: rect(13.9rem, 25.8rem, 30rem, 0);
  }
  60% {
    clip: rect(40rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  66% {
    clip: rect(15.6rem, 25.8rem, 40rem, 0);
  }
  73% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  80% {
    clip: rect(1.3rem, 21.8rem, 35rem, 0);
  }
  86% {
    clip: rect(17.3rem, 25.8rem, 40rem, 0);
  }
  93% {
    clip: rect(17.5rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  100% {
    clip: rect(16.5rem, 25.8rem, 40rem, 0);
  }
}
